.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

@media (min-width: 768px) {
  .app-shell {
    flex-direction: row;
  }

  .app-content {
    flex: 1;
    padding-bottom: 0;
    padding-left: 80px;
  }
}
